body * {
  outline: 1px solid lightgrey;
}
.header {
  height: 100px;
  font-size: 30px;
  text-align: center;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.main {
  height: 200vh;
  background-color: red;
  margin-top: 80px;
}
.relative {
  width: 100px;
  height: 100px;
  background-color: sienna;
  position: relative;
  top: 20px;
  left: 20px;
  color: rgb(58, 34, 34);
}.absolute {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left 10px;
  background-color: yellow;
}