body * {
  outline: 1px solid lightgrey;
}
.upper {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: stretch;
}

.container1 {
  display: flex;
  max-width: 1200px;
}
.button-rabbit {
  background-image: url(../../img/rabbit.png);
  width: 100px;
  height: 100px;
}

img {
  object-fit: cover;
  max-width: 70px;
  max-height: 70px;
}

.names {
  height: 100%;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: xx-large;
}
.orange {
  color: rgb(230, 138, 34);
  padding: 7px 15px;
}
.rabbit {
  font-size: xx-large;
  text-transform: uppercase;
  color: rgb(112, 109, 105);
  padding: 7px 15px;
}

.container2 {
  display: flex;
  font-size: large;
  text-align: center;
  color: rgb(112, 109, 105);
  max-width: 1200px;
}
.name {
  margin: 0 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slider {
  height: 200px;
  background-image: url(../../img/oranges.jpg);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.slider-container {
  height: 100%;
}
.slider-content {
  text-align: center;
}
.slider-line {
  text-transform: uppercase;
  padding: 7px 15px;
}
.slider-line.first {
  background-color: rgb(122, 119, 119);
  margin-bottom: 20px;
  color: rgb(230, 138, 34);
}
.slider-line.second {
  background-color: rgb(230, 138, 34);
  color: rgb(122, 119, 119);
}
.middle-container {
  display: flex;
}

.news-block {
  display: flex;
  justify-content: space-around;
}

